.abc-landing {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,120,212,1) 40%), url('./images/image1.jpg');
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
}

.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 100vh;
  width: 100vw;
}


.header-content {
  margin-top: 250px;
  position: relative;
}

.header-sub {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 13px;
}

.wrap {
  font-family: 'Karla'
}

h1 {
  margin-bottom: -2px;
  font-weight: 400;
  font-size: 48px;
}

.bold {
  font-weight: 700;
}

.header-buttons {
  margin-left: 5px;
}

.header-button {
  width: 190px;
  height: 50px;
  border: 2px solid white;
  margin-right: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 13px;
  cursor: pointer;
}

.arrow-wrap {
  text-align: center;
}

.arrow {
  position: fixed;
  bottom: 20px;
}

.abc-main-content {
  height: 100vh;
}

.abc-nav {
  position: sticky;
  top: 0;
  box-shadow: 0 4px 5px #ddd;
  margin-bottom: 5px;
}

.navbar {
  background-color: white;
}
.abc-footer {
  height: 50vh;
}

body
{
  overflow-x: hidden; /* Get rid of extra white space on right side of the page */
}

.navbar-light .navbar-toggler {
  border: none;
}

.abc-second-header {
  text-align: center;
  margin-top: 95px;
  color: #4C6176;
}

.image-wrap > img {
  margin-top: 30px;   
  width: 100%;
}